@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
body{
    font-family: "Roboto", "San-serif";
    font-style: normal;
    .wrapper{
        margin: 0 auto;
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            // border-color: red;
            margin: 0 auto;
            .header-section{
                // width: 100%;
                display: flex;
                justify-content: center;
                background: rgb(30, 30, 30);
                header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 28px;
                    column-gap: 41px;
                    .logo-section{
                        height: 26px;
                        display: flex;
                        align-items: center;
                        column-gap: 8px;
                        h6{
                            color: rgb(255, 255, 255);
                            font-size: 32px;
                            font-weight: 700;
                            text-align: left;
                        }
                    }
                    nav{
                        ul{
                            display: flex;
                            column-gap: 41px;
                            li{
                                list-style: none;
                                a{
                                    text-decoration: none;
                                    color: rgb(255, 60, 120);
                                    font-family: Roboto;
                                    font-size: 16px;
                                    font-weight: 700;
                                    line-height: 26px;
                                    letter-spacing: 0%;
                                    text-align: left;
                                }
                            }
                        }
                    }
                    .header-auth{
                        display: flex;
                        column-gap: 32px;
                        margin-left: 272px;
                        button{
                            border: none;
                            background: inherit;
                            color: rgb(255, 255, 255);
                            font-size: 16px;
                            font-weight: 400;
                            letter-spacing: 0%;
                            text-align: left;
                        }
                        .log{
                            padding: 8px;
                        }
                        .buy{
                            width: 116px;
                            height: 48px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 16px;
                            background: rgb(255, 60, 120);
                            padding: 12px, 24px;
                        }
                    }
                }
            }
            main{
                width: 100%;
                // height: 100%;
                display: flex;
                justify-content: center;
                background: rgb(30, 30, 30) ;
                // margin: 0 auto;
                padding-top: 80px;
                padding-bottom: 76px;
                .main-section{
                    display: flex;
                    justify-content: center;
                    column-gap: 70px;
                    .main-info{
                        display: flex;
                        flex-direction: column;
                        row-gap: 40px;
                        h1{
                            color: rgb(255, 255, 255);
                            font-size: 56px;
                            font-weight: 700;
                            line-height: 66px;
                            letter-spacing: 0%;
                            text-align: left;
                        }
                        p{
                            width: 456px;
                            color: rgb(255, 255, 255);
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 26px;
                            letter-spacing: 0%;
                            text-align: left;
                        }
                        button{
                            width: 178px;
                            height: 48px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            column-gap: 24px;
                            border-radius: 14px;
                            background: rgb(255, 60, 120);
                            border: none;
                            span{
                                color: rgb(255, 255, 255);
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 24px;
                                letter-spacing: 0%;
                                text-align: left;
                            }
                        }
                    }
                    aside{
                        position: relative;
                        width: 478px;
                        height: 474px;
                        background-image: url(../assets/images/project-images/main-section-img.png);
                        img{
                            position: absolute;
                            bottom: -35px;
                            right: 0;
                            
                        }
                    }
                }
            }
            section{
                // width: 100%;
                display: flex;
                justify-content: center;
                padding-top: 89px;
                padding-bottom: 69px;
                background: rgb(249, 245, 242);
                .section-part{
                    display: flex;
                    column-gap: 158px;
                    .section-info{
                        display: flex;
                        flex-direction: column;
                        row-gap: 16px;
                        h2{
                            color: rgb(30, 30, 30);
                            font-family: Roboto;
                            font-size: 40px;
                            font-weight: 700;
                            line-height: 47px;
                            letter-spacing: 0%;
                            text-align: left;
                        }
                        p{
                            width: 494px;
                            color: rgb(23, 35, 39);
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0%;
                            text-align: left;
                        }
                        button{
                            width: 160px;
                            height: 48px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: rgb(255, 255, 255);
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 24px;
                            letter-spacing: 0%;
                            text-align: left;
                            border: none;
                            border-radius: 16px;
                            background: rgb(34, 65, 207);
                            padding: 12px, 24px;
                        }
                        b{
                            margin-top: 18px;
                            color: rgb(23, 35, 39);
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 26px;
                            letter-spacing: 0%;
                            text-align: left;
                        }
                        .profile{
                            display: flex;
                            column-gap: 16px;
                            margin-top: 8px;
                            .owner{
                                display: flex;
                                flex-direction: column;
                                
                                .owner-name{
                                    color: rgb(30, 30, 30);
                                    font-size: 16px;
                                    font-weight: 700;
                                    line-height: 26px;
                                    letter-spacing: 0%;
                                    text-align: left;
                                }
                                .owner-job{
                                    color: rgb(23, 35, 39);
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 20px;
                                    letter-spacing: 0%;
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }
            .sharing-section{
                display: flex;
                width: 834px;
                justify-content: center;
                justify-content: space-between;
                margin-left: 24px;
                margin-right: 24px;
                column-gap: 153px;
                margin-top: 80px;
                .sharing-info{
                    display: flex;
                    flex-direction: column;
                    column-gap: 16px;
                    // background: red;
                    h2{
                        color: rgb(30, 30, 30);
                        font-size: 32px;
                        font-weight: 700;
                        line-height: 44px;
                        letter-spacing: 0%;
                        text-align: left;
                    }
                    p{
                        width: 377px;
                        color: rgb(23, 35, 39);
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0%;
                        text-align: left;
                        margin-top: 16px;
                    }
                    button{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        width: 160px;
                        height: 48px;
                        border-radius: 16px;
                        background: rgb(34, 65, 207);
                        color: rgb(255, 255, 255);
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0%;
                        text-align: left;
                        margin-top: 24px;
                    }
                }
                .sharing-part{
                    height: 444px;
                    width: 377px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    column-gap: 19px;
                    row-gap: 16px;
                    border-radius: 8px;
                    background: rgb(249, 245, 242);
                    .blog{
                        width: 159px;
                        height: 194px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 12px;
                        align-items: center;
                        justify-content: center;
                        background: white;
                        .icon{
                            width: 50px;
                            height: 50px;
                            border-radius: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: rgb(255, 242, 236);
                        }
                        .part-name{
                            color: rgb(30, 30, 30);
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 26px;
                            letter-spacing: 0%;
                            text-align: center;
                        }
                        .part-info{
                            color: rgb(30, 30, 30);
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 18px;
                            letter-spacing: 0%;
                            text-align: center;
                            margin-left: 12px;
                            margin-right: 12px;
                                                    }
                    }
                }
            }
            .expenses-section{
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 0 auto;
                column-gap: 144px;
                background: rgb(249, 245, 242);
                .ex-img{
                    position: relative;
                    width: 384px;
                    height: 474px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    background-image: url(../assets/images/project-images/expense-section-img.png);
                    background-repeat: no-repeat;
                    background-position: cover;
                    .box{
                        position: absolute;
                        width: 251px;
                        height: 270px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 8px;
                        justify-content: center;
                        border-radius: 16px;
                        background: rgb(255, 255, 255);
                        bottom: 32px;
                        span{
                            display: flex;
                            align-items: flex-start;
                            color: rgb(23, 35, 39);
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0%;
                            text-align: left;
                            margin-left: 25px;
                        }
                        .digit{
                            display: flex;
                            align-items: center;
                            column-gap: 12px;
                            margin-left: 25px;
                            // margin-bottom: 10px;
                            .price{
                                color: rgb(30, 30, 30);
                                font-size: 40px;
                                font-weight: 700;
                                line-height: 47px;
                                letter-spacing: 0%;
                                text-align: left;
                            }
                            .precent{
                                width: 53px;
                                height: 26px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: rgb(255, 255, 255);
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 18px;
                                letter-spacing: 0%;
                                text-align: left;
                                border-radius: 16px;
                                background: rgb(255, 60, 120);
                            }
                        }
                        .bar-charts{
                            display: flex;
                            align-items: flex-end;
                            column-gap: 14px;
                            margin-left: 25px;

                            .diagram{
                                width: 22px;
                                height: 89px;
                                border-radius: 74px;
                                background: rgb(30, 30, 30);
                            }
                            .diagram:nth-child(2){
                                height: 153px;
                                background: rgb(255, 60, 120)
                            }
                            .diagram:nth-child(3){
                                height: 75px;
                                background: rgb(255, 60, 120)
                            }
                            .diagram:nth-child(4){
                                height: 50px;
                                background:rgb(30, 30, 30);
                            }
                        }
                    }
                }
                aside{
                    display: flex;
                    flex-direction: column;
                    row-gap: 24px;
                    h2{
                        color: rgb(30, 30, 30);
                        font-size: 40px;
                        font-weight: 700;
                        line-height: 47px;
                        letter-spacing: 0%;
                        text-align: left;
                    }
                    p{
                        width: 448px;
                        color: rgb(23, 35, 39);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0%;
                        text-align: left;
                        margin-right: 32px;
                    }
                    .starting-buttons{
                        width: 486px;
                        display: flex;
                        column-gap: 24px;
                        flex-wrap: wrap;
                        button{
                            border: none;
                            width: 160px;
                            height: 48px;
                            border-radius: 16px;
                            color: rgb(255, 255, 255);
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 24px;
                            letter-spacing: 0%;
                            text-align: center;
                        }
                        .exploring{
                            background: rgb(34, 65, 207);
                        }
                        .starting{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            column-gap: 24px;
                            border-radius: 14px;
                            background: rgb(255, 60, 120);
                            text-align: center;
                            .play-video-icon{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 24px;
                                height: 24px;
                                border-radius: 100%;
                                background: #FFF;
                            }
                        }
                        .comments{
                            width: 100%;
                            display: flex;
                            column-gap: 16px;
                            margin-top: 40px;
                            .comment-icon{
                                width: 48px;
                                height: 48px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: #FFF;
                                border-radius: 100%;
                            }
                            span{
                                color: rgb(30, 30, 30);
                                font-family: Satoshi;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 22px;
                                letter-spacing: 0%;
                                text-align: left;
                            }
                            span:first-child{
                                padding-right: 30px;
                            }
                            .article{
                                display: flex;
                                column-gap: 16px;
                                margin-left: 30px;
                                .article-icon{
                                    width: 48px;
                                    height: 48px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background: #FFF;
                                    border-radius: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .total-balance{
                display: flex;
                justify-content: center;
                column-gap: 186px;
                margin-top: 173px;
                margin-bottom: 132px;
                .balance-info{
                    display: flex;
                    flex-direction: column;
                    row-gap: 24px;
                    h2{
                        width: 448px;
                        color: rgb(30, 30, 30);
                        font-size: 40px;
                        font-weight: 700;
                        line-height: 47px;
                        letter-spacing: 0%;
                        text-align: left;
                    }
                    p{
                        width: 448px;
                        color: rgb(23, 35, 39);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0%;
                        text-align: left;
                    }
                    button{
                        border: none;
                        width: 160px;
                        height: 48px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 16px;
                        background: rgb(34, 65, 207);
                        color: rgb(255, 255, 255);
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0%;
                        text-align: left;
                        margin-top: 16px;
                    }
                }
                aside{
                    display: flex;
                    width: 384px;
                    height: 432px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 3px solid rgb(221, 228, 228);
                    border-style: dashed;
                    border-radius: 16px;
                    background: rgb(249, 245, 242);
                    .balance-box{
                        position: relative;
                        width: 342px;
                        height: 384px;
                        background-image: url(../assets/images/project-images/leaf-img.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        border: 1px solid rgb(221, 228, 228);
                        border-style: dashed;
                        .total{
                            position: absolute;
                            width: 280px;
                            height: 248px;
                            display: flex;
                            flex-direction: column;
                            // align-items: center;
                            justify-content: center;
                            border-radius: 16px;
                            background: rgb(255, 255, 255);
                            left: 31px;
                            bottom: 31px;
                            h4{
                                color: rgb(30, 30, 30);
                                font-family: Satoshi;
                                font-size: 32px;
                                font-weight: 700;
                                line-height: 43px;
                                letter-spacing: 0%;
                                margin-left: 34px;
                                text-align: left;
                            }
                            p{
                                // width: 195px;
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                                color: rgb(23, 35, 39);
                                font-size: 18px;
                                font-weight: 700;
                                line-height: 28px;
                                letter-spacing: 0%;
                                text-align: left;
                                margin-left: 34px;
                            }
                            .lining{
                                height: 1px;
                                width: 211px;
                                border: 1px solid rgb(221, 228, 228);
                                margin-left: 34px;
                                margin-top: 16.5px;
                                margin-bottom: 19.5px;
                            }
                            .humans{
                                display: flex;
                                height: 33px;
                                align-items: center;
                                column-gap: 12px;
                                // background: green;
                                // justify-content: center;
                                .humans-img{
                                    // width: 82px;
                                    // position: relative;
                                    display: flex;
                                    top: 0;
                                    // background: red;
                                    margin-left: 23px;
                                    img{
                                        // position: absolute;
                                        width: 33px;
                                        height: 33px;
                                        border: 100%;
                                    }
                                    svg:nth-child(2){
                                        margin-left: -14px;
                                    }
                                    svg:nth-child(3){
                                        margin-left: -14px;
                                    }
                                }
                                span{
                                    color: rgb(30, 30, 30);
                                    font-family: Satoshi;
                                    font-size: 16px;
                                    font-weight: 700;
                                    line-height: 22px;
                                    letter-spacing: 0%;
                                    text-align: left;
                                }
                            }
                            .statistic{
                                display: flex;
                                align-items: center;
                                column-gap: 152px;
                                padding-top: 30px;
                                flex-wrap: wrap;
                                p{
                                    color: rgb(33, 33, 33);
                                    font-family: Satoshi;
                                    font-size: 16px;
                                    font-weight: 700;
                                    line-height: 22px;
                                    letter-spacing: 0%;
                                    text-align: left;
                                }
                                span{
                                    color: rgb(33, 33, 33);
                                    font-family: Satoshi;
                                    font-size: 16px;
                                    font-weight: 700;
                                    line-height: 22px;
                                    letter-spacing: 0%;
                                    text-align: left;
                                }
                                .line{
                                    width: 211px;
                                    height: 6px;
                                    border-radius: 48px;
                                    background: rgb(23, 35, 39);
                                    margin-left: 34px;
                                }
                            }
                        }
                    }
                }
            }
            .video-feature{
                width: 100%;
                // height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                .bg-video-box{
                    width: 100%;
                    height: 420px;
                    display: flex;
                    justify-content: center;
                    // background-image: url(../assets/images/project-images/bg-video-box.png);
                    background-repeat: no-repeat;
                    background-color: rgb(30, 30, 30);
                    background-position: center;
                    background-size: auto;
                    h2{
                        width: 448px;
                        color: white;
                        font-size: 40px;
                        font-weight: 700;
                        line-height: 47px;
                        letter-spacing: 0%;
                        text-align: center;
                        padding-top: 50px;
                    }
                }
                .video-box{
                    width: 792px;
                    height: 454px;
                    background-color: rgb(231, 208, 208);
                    margin-top: -189px;
                    background-image: url(../assets/images)
                    ba
                }
            }
        }
    }
}