@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
body{
    font-family: "Roboto", "San-serif";
    font-style: normal;
    .wrapper{
        width: 100vw;
        display: flex;
        justify-content: center;
        .container{
            display: flex;
            flex-direction: column;
            border-color: red;
            margin: 0 auto;
            .header-section{
                width: 100vw;
                display: flex;
                justify-content: center;
                background: rgb(30, 30, 30);
                header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 28px;
                    column-gap: 41px;
                    .logo-section{
                        height: 26px;
                        display: flex;
                        align-items: center;
                        column-gap: 8px;
                        h6{
                            color: rgb(255, 255, 255);
                            font-size: 32px;
                            font-weight: 700;
                            text-align: left;
                        }
                    }
                    nav{
                        ul{
                            display: flex;
                            column-gap: 41px;
                            li{
                                list-style: none;
                                a{
                                    text-decoration: none;
                                    color: rgb(255, 60, 120);
                                    font-family: Roboto;
                                    font-size: 16px;
                                    font-weight: 700;
                                    line-height: 26px;
                                    letter-spacing: 0%;
                                    text-align: left;
                                }
                            }
                        }
                    }
                    .header-auth{
                        display: flex;
                        column-gap: 32px;
                        margin-left: 272px;
                        button{
                            border: none;
                            background: inherit;
                            color: rgb(255, 255, 255);
                            font-size: 16px;
                            font-weight: 400;
                            letter-spacing: 0%;
                            text-align: left;
                        }
                        .log{
                            padding: 8px;
                        }
                        .buy{
                            width: 116px;
                            height: 48px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 16px;
                            background: rgb(255, 60, 120);
                            padding: 12px, 24px;
                        }
                    }
                }
            }
            main{
                width: 100vw;
                display: flex;
                justify-content: center;
                background: rgb(30, 30, 30) ;
                // margin: 0 auto;
                padding-top: 80px;
                padding-bottom: 76px;
                .main-section{
                    display: flex;
                    justify-content: center;
                    column-gap: 70px;
                    .main-info{
                        display: flex;
                        flex-direction: column;
                        row-gap: 40px;
                        h1{
                            color: rgb(255, 255, 255);
                            font-size: 56px;
                            font-weight: 700;
                            line-height: 66px;
                            letter-spacing: 0%;
                            text-align: left;
                        }
                        p{
                            width: 456px;
                            color: rgb(255, 255, 255);
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 26px;
                            letter-spacing: 0%;
                            text-align: left;
                        }
                        button{
                            width: 178px;
                            height: 48px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            column-gap: 24px;
                            border-radius: 14px;
                            background: rgb(255, 60, 120);
                            border: none;
                            span{
                                color: rgb(255, 255, 255);
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 24px;
                                letter-spacing: 0%;
                                text-align: left;
                            }
                        }
                    }
                    aside{
                        position: relative;
                        width: 478px;
                        height: 474px;
                        background-image: url(../assets/images/project-images/main-section-img.png);
                        img{
                            position: absolute;
                            bottom: -35px;
                            right: 0;
                            
                        }
                    }
                }
            }
        }
    }
}